div.legend-entry {
  @include flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 5px 0;
  cursor: pointer;
  user-select: none;
  &.current {
    font-weight: bold;
  }
  &.hover {
    opacity: 0.8;
  }
  div.color {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
    border-radius: 2px;
  }
  label {
    margin: 0 auto 0 0;
    font-weight: inherit;
    cursor: pointer;
  }
  span {
    font-weight: inherit;
    cursor: pointer;
  }
}
