main.main {
  div.graph {
    @include flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    margin: 0 0 10px 0;
    border-radius: 2px;
    overflow: hidden;
    div.graph-bar {
      @include flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: #fff;
      font-size: 12px;
      cursor: pointer;
      &.hover {
        opacity: 0.9;
      }
    }
  }
  div.graph-scale {
    width: 100%;
    height: 20px;
    margin: 0 0 20px 0;
    position: relative;
    border-top: 2px solid #ccc;
    p {
      font-weight: bold;
      font-size: 12px;
      color: #888;
      position: absolute;
      top: 5px;
      transform: translateX(-50%);
      padding: 0 0 0 9px;
      &:before {
        content: '';
        position: absolute;
        top: -10px;
        left: 50%;
        width: 2px;
        height: 5px;
        transform: translateX(-50%);
        background-color: #ccc;
      }
    }
  }
  div.graph-aux {
    @include flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
    height: 0;
    @media #{$m-tablet} {
      height: auto;
    }
    div.graph-aux-part {
      @include flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      &.aux-part-legend {
        margin: 0 60px 0 0;
      }
      &.aux-part-word-list {
        flex-grow: 1;
        align-self: stretch;
      }
      h3 {
        margin: 0 0 10px 0;
      }
    }
  }

  div.legend {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 175px;
    font-size: 14px;
  }
}
