*.btn {
  appearance: none;
  cursor: pointer;
  user-select: none;
  outline: none;
	background-color: #fff;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	border-color: #444;
	color: #222;
	font-family: $f-sans;
  font-weight: 500;
	font-size: 12px;
	padding: 0;
	height: 25px;
  padding: 0 5px;
  min-width: 30px;
  text-decoration: none;
  &.big {
    height: 40px;
    font-size: 16px;
    padding: 0 16px;
  }
	&:hover:not(:disabled) {
		background-color: #444;
		color: #fff;
    text-decoration: none;
	}
  &:active:not(:disabled) {
    background-color: #222;
    border: 2px solid #222;
    color: #fff;
  }
  &:disabled {
    cursor: default;
    opacity: 0.6;
  }
}
a.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
*.btn.blue {
	border-color: $c-blue;
	color: $c-blue;
	&:hover:not(:disabled) {
		background-color: $c-blue;
		color: #ffffff;
	}
  &:active:not(:disabled) {
  	border-color: darken($c-blue, 10%);
		background-color: darken($c-blue, 10%);
    color: #fff;
  }
}
*.btn.red {
	border-color: $c-red;
	color: $c-red;
	&:hover:not(:disabled) {
		background-color: $c-red;
		color: #ffffff;
	}
  &:active:not(:disabled) {
  	border-color: darken($c-red, 10%);
		background-color: darken($c-red, 10%);
    color: #fff;
  }
}
*.btn.white {
  border-color: #fff;
  &:hover:not(:disabled) {
		background-color: #eee;
		border-color: #eee;
    color: #333;
	}
  &:active:not(:disabled) {
    background-color: #ddd;
		border-color: #ddd;
    color: #333;
  }
}
*.btn.clear {
  border-color: transparent;
  background-color: transparent;
  color: #fff;
  &:hover:not(:disabled) {
		background-color: rgba(255,255,255,0.2);
		border-color: transparent;
    color: #fff;
	}
  &:active:not(:disabled) {
    background-color: rgba(255,255,255,0.3);
		border-color: transparent;
    color: #fff;
  }
}
