$h-header: 50px;

$c-blue:   #007bd8;
$c-purple: #9349b1;
$c-red:    #d44646;
$c-green:  #4fa952;
$c-grey-light: #888;
$c-grey-dark:  #444;

$f-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$f-mono: "SF Mono","Monaco","Andale Mono","Lucida Console","Bitstream Vera Sans Mono","Courier New",Courier,monospace;

$t-fast: 0.15s;
$t-medium: 0.3s;
$t-slow: 0.5s;

$tf-natural: cubic-bezier(0.77, 0, 0.175, 1);

$b-tablet: 960px;
$b-mobile: 640px;

$m-tablet: '(max-width: #{$b-tablet})';
$m-mobile: '(max-width: #{$b-mobile})';

$shadow-inset: inset 0 1px 5px 0 rgba(0,0,0,0.2);
$shadow-box: 0 2px 3px 0 rgba(0,0,0,0.3);
$shadow-ingot: 0px 1px 4px rgba(0,0,0,0.2);

@mixin flex {
  display: flex;
  flex-shrink: 0;
}
