html {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: $f-sans;
}

body {
  width: 100%;
  min-height: 100vh;
}

div#roots {
  @include flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  min-width: 640px;
  height: 100vh;
  box-sizing: border-box;
  color: #222;
  overflow: hidden;
  @media #{$m-tablet} {
    height: auto;
    min-height: 100vh;
  }
}

header {
  @include flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: $h-header;
  width: 100%;
  padding: 0px 30px;
  background-color: #eee;
  box-shadow: $shadow-ingot;
  a.logo {
    @include flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 30px 0 0;
    color: #222;
    &:hover, &:focus {
      opacity: 0.9;
      &:active {
        opacity: 0.8;
      }
    }
    img {
      width: 30px;
      margin: 0 10px 0 0;
    }
  }
  & > a:not(.logo) {
    color: $c-blue;
    &:not(:last-child) {
      margin: 0 20px 0 0;
    }
  }
  a.version-label {
    margin: 0 0 0 auto;
  }
}

main {
  @include flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - #{$h-header});
  padding: 30px;
  @media #{$m-tablet} {
    height: auto;
    min-height: calc(100vh - #{$h-header});
    flex-direction: column;
  }
  section {
    @include flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    @media #{$m-tablet} {
      width: 100%;
      height: auto;
    }
    &:not(:last-child) {
      margin: 0 20px 0 0;
      @media #{$m-tablet} {
        margin: 0 0 20px 0;
      }
    }
    &:nth-child(2) {
      justify-content: center;
      align-items: center;
      @media #{$m-tablet} {
        flex-direction: row;
      }
      div.spinner {
        @media #{$m-tablet} {
          margin: 0 -46px 0 10px;
        }
      }
    }
    &:nth-child(3) {
      flex-grow: 1;
    }
    h2 {
      margin: 0 0 10px 0;
    }
    button.go-button {
      align-self: center;
    }
  }
  textarea {
    min-width: 400px;
    width: 100%;
    height: 100%;
    @media #{$m-tablet} {
      min-width: initial;
      min-height: 200px;
    }
  }
  cite {
    margin-top: 15px;
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
    color: #666;
  }
  p {
    font-size: 14px;
    &.error {
      color: $c-red;
    }
  }
}

h1 {
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 14px;
}

a {
  color: $c-blue;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: underline;
    &:active {
      opacity: 0.8;
    }
  }
}

*.chalk {
  background-color: #222;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  line-height: 140%;
}

ul.word-list {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  @media #{$m-tablet} {
    overflow-x: visible;
    overflow-y: visible;
  }
  li {
    font-size: 14px;
    padding: 3px 0;
  }
}

main.aux {
  flex-direction: column;
  h2 {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
  p {
    line-height: 150%;
    max-width: 440px;
    &:not(:last-child) {
      margin: 0 0 12px 0;
    }
    strong {
      font-weight: bold;
    }
    a {
      font-size: 14px;
      color: $c-blue;
      text-decoration: none;
      &:hover, &:focus {
        text-decoration: underline;
      }
    }
  }
  ul {
    &:not(:last-child) {
      margin: 0 0 12px 0;
    }
    li {
      &:not(:last-child) {
        margin: 0 0 10px;
      }
      h3 {
        font-size: 16px;
        font-weight: bold;
        line-height: 150%;
      }
      p {
        margin: 0;
        &:not(:last-child) {
          margin: 0;
        }
      }
    }
  }
}
