div.spinner {
  @include flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 120px;
  height: 120px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: opacity $t-medium;
  pointer-events: none;
  z-index: 1;
  div.level {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &:nth-child(1) {
      width: 100%;
      height: 100%;
      animation-name: spinner;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
    &:nth-child(2) {
      width: 80%;
      height: 80%;
      margin: -90% 0 0 0;
      animation-name: spinner;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: reverse;
    }
    div.window {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      width: 50%;
      height: 25%;
      overflow: hidden;
      div.ring {
        width: 200%;
        height: 400%;
        background-color: transparent;
        border: solid 2px #333;
        border-radius: 50%;
        box-sizing: border-box;
      }
    }
  }
}
div.spinner:not(.visible) {
  opacity: 0;
}
div.spinner:not(.spinning) {
  div.level {
    animation-play-state: paused;
  }
}
div.spinner.mini {
  width: 36px;
  height: 36px;
  position: relative;
  margin: 10px 0 0 0;
  top: 0;
  left: 0;
  transform: none;
}
div.spinner.micro {
  width: 24px;
  height: 24px;
  position: relative;
  margin: 0 0 0 10px;
  top: 0;
  left: 0;
  transform: none;
}
div.spinner.white {
  div.level {
    div.window {
      div.ring {
        border-color: #fff;
      }
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
